@charset 'UTF-8';
@import 'common';


// .audio-icon {
//   color: #818181;
//   cursor: pointer;
//   transition: all .2s ease-in-out;
//   &:hover, &:active {
//     transform: scale(1.2);
//     color: #484848;
//   }
//   // &:hover, &:active { color: #484848; }
// }

// .spinner, .warning {
//   &:hover {
//     color: $primary-color;
//     @include transform(none);
//   }
// }


header {
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid #CCC;
  background: rgba(250,250,250,0.8);
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

#header-holder {
  & > * { user-select: none; }

  display: flex;
  position: relative;
  width: 100%;
  height: inherit;
  padding: 0 30px;
}

// ---------- HEADER-BAR ----------
#header-bar {
  $bar-height: 4px;

  z-index: 2;
  position: absolute;
  width: 100%;
  height: $bar-height;
  margin-top: $header-height - $bar-height;
  cursor: pointer;

  .bar-gauge {
    width: 0;
    height: inherit;
    position: inherit;
    // background: #F15DAD;
    // background: #F588BF;
    background: #DA1C31;
    // box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);
  }
  .bar-background {
    width: 100%;
    height: inherit;
    position: inherit;
    background: rgba(137,135,140,0.1);
    // background: rgba(241,93,173,0.2);

    .play-time {
      $width: 45px;
      $margin-left: 3px;

      float: left;
      width: $width;
      margin-top: -17px;
      color: $bold-color;
      font-size: 0.9em;

      &:first-child {
        margin-left: $margin-left;
        text-align: left;
      }
      &:last-child {
        margin-left: calc(100% - (#{$width} + #{$margin-left}) * 2);
        text-align: right;
      }
    }
  }
}

$header-margin-top: 26px;

// ---------- HEADER-PLAY ----------
#header-play {
  $play-container-width: 50px;

  flex: initial;
  width: $play-container-width * 3 + 30px;
  min-width: $play-container-width * 3;
  margin-top: $header-margin-top - 6px;

  .play-container {
    width: $play-container-width;
    display: inline-block;
    text-align: left;

    i { @include icon-button(2.4em); }
  }
}

// ---------- HEADER-VOLUME ----------
#header-volume {
  flex: none;
  width: 130px;

  margin-top: $header-margin-top;
  float: left;
  & > * { float: left; }

  .volume-bar {
    width: 80px;
    height: 2px;
    margin-top: 10px;
    background: #B9B9B9;
    cursor: pointer;
  }
  #mute-container {
    margin-right: 4px;
    i {
      @include icon-button(1.5em);
      margin-top: 2px;
    }
  }
  #volume-container {
    margin-top: 2px;
    i { @include icon-button(1.2em); }
  }
}

// ---------- HEADER-INFO ----------
#header-info {
  $header-info-height: 63px;

  flex: 1;
  height: $header-info-height;
  margin-top: 5px;
  float: left;

  #thumbnail {
    float: left;
    width: $header-info-height;
    height: $header-info-height;
    border-radius: 2px;
  }
  div {
    float: right;
    width: calc(100% - 67px);
    height: 20px;
    text-align: center;
    font-size: 0.9em;
    cursor: default;

    overflow: hidden;
    white-space: nowrap;
  }
  #title {
    height: 22px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 1.3em;
  }
  .hashtag {
    margin: 0 2px 0 5px;
    color: $bold-color;
    &:first-child { margin-left: 0; }
  }
}


// .header-info .slide-left {
//     width: 370px;
//     overflow: hidden;
//     white-space: nowrap;
// }
// .header-info .slide-left p {
//     animation: slide-left 8s;
//     animation-iteration-count: infinite;
// }
// @keyframes slide-left {
//     from {
//         margin-left: 0%;
//     } to {
//         margin-left: -50%;
//     }
// }


// ---------- HEADER-SEARSCH ----------
#header-search {
  flex: initial;
  width: 360px;
  min-width: 180px;

  height: auto;
  float: left;
  margin-top: $header-margin-top;
  margin-right: 20px;

  .search-container { float: right; }
  input { font-size: 0.9em; }
}
