@charset 'UTF-8';
@import 'common';

$large-padding: 12px;
$small-padding: 8px;

main {
  width: 100%;
  $padding-top: $small-padding + $header-height;
  $padding-bottom: $small-padding + 25px;
  padding: $padding-top $small-padding $padding-bottom;

  display: flex;
  flex-wrap: wrap;
}

$card-width: 300px;
$card-height: 390px;

@mixin card-text($font-size: 1.0em) {
  margin: 0;
  padding: 0;
  font-size: $font-size;
  font-weight: 400;
  color: $bold-color;
}

// https://stackoverflow.com/questions/23274338/how-to-keep-wrapped-flex-items-the-same-width-as-the-elements-on-the-previous-ro
@mixin flex-wrap-fix($flex-basis, $max-viewport-width: 2000px) {
  flex-grow: 1;
  flex-basis: $flex-basis;
  max-width: 100%;

  $multiplier: 1;
  $current-width: 0px;

  @while($current-width < $max-viewport-width) {
    $current-width: $current-width + $flex-basis;
    $multiplier: $multiplier + 1;

    @media(min-width: $flex-basis * $multiplier) {
      max-width: percentage(1 / $multiplier);
    }
  }
}


// https://davidwalsh.name/css-flip
.card-container {
  perspective: 1000px;
  display: inline-block;

  // width: $card-width;
  // height: $card-height;
  // margin: $small-padding;

  min-width: $card-width - 20px;
  @include flex-wrap-fix($card-width);

  .flip { @include transform(rotateY(180deg)); }
}
.flipper {
  @include transition(1.0s);
  @include transform-style(preserve-3d);
  position: relative;

  // width: 100%;
  // height: 100%;

  $margin-width: calc(100% - #{$small-padding} * 2);
  width: $margin-width;
  height: $card-height - ($small-padding * 2);
  margin: $small-padding;

  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .front {
    z-index: 2;
    @include transform(rotateY(0deg));
  }
  .back {
    @include transform(rotateY(180deg));
  }
}


.card {
  & > * { user-select: none; }
  $border-radius: 5px;

  display: inline-block;
  // width: $card-width;
  // height: $card-height;
  width: 100%;
  height: 100%;

  border-radius: $border-radius;
  @include box-shadow(1px 1px 3px 1px rgba(0,0,0,0.2));

  .album-art {
    // width: $card-width;
    // height: $card-width;
    width: 100%;

    img {
      cursor: pointer;
      // height: 100%;
      width: inherit;
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  .album-desc {
    padding: $small-padding $large-padding;

    p {
      @include card-text();
      @include text-ellipsis();
    }
    .title {
      margin-bottom: 4px;
      font-weight: 600;
    }
    .year {
      margin-bottom: 10px;
      font-size: 0.8em;
      color: $primary-color;
    }
    .artist { font-size: 0.9em; }
  }


  $profile-width: 45px;
  .album-info {
    height: $profile-width + $small-padding * 2;
    padding: $small-padding;

    & > * { float: left; }
    .profile {
      margin-right: 8px;
      width: $profile-width;
      height: $profile-width;

      img {
        cursor: pointer;
        height: 100%;
        border-radius: 50%;
      }
    }
    .album-summary {
      padding-top: 4px;

      p {
        @include card-text(0.9em);
        @include text-ellipsis();
      }
      .title {
        font-weight: 600;
        margin-bottom: 2px;
      }
    }
  }

  .tracks {
    height: calc(100% - (#{$profile-width} + #{$small-padding} * 2));

    margin: 0;
    padding: 0 $large-padding $small-padding;
    list-style: none;
    overflow-y: auto;

    li {
      height: 20px;
      cursor: pointer;
      @include text-ellipsis();
      &:hover .music-title { font-weight: 600; }

      & > * { display: inline-block }
      .track-number {
        width: 16px;
        margin-right: 4px;
        text-align: center;
        font-size: 0.8em;
        color: $primary-color;
      }
      .music-title {
        font-size: 1.0em;
        color: $bold-color;
      }
    }
  }

}
