@charset 'UTF-8';
@import 'common';

$large-padding: 12px;
$small-padding: 8px;

main {
  width: 100%;
  $padding-top: $small-padding * 2 + $header-height;
  $padding-bottom: $small-padding + 25px;
  padding: $padding-top $small-padding * 2 $padding-bottom;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $small-padding * 2;
  justify-items: center;
  align-items: center;
}

@media (max-width : 480px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width : 481px) and (max-width : 767px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width : 768px) and (max-width : 1023px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width : 1024px) and (max-width : 1279px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width : 1280px) and (max-width : 1679px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width : 1680px) and (max-width : 1919px) {
  main {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media print and (min-width : 1920px) {
  main {
    grid-template-columns: repeat(7, 1fr);
  }
}


@mixin card-text($font-size: 1.0em) {
  margin: 0;
  padding: 0;
  font-size: $font-size;
  font-weight: 400;
  color: $bold-color;
}

// https://davidwalsh.name/css-flip
.card-container {
  perspective: 1000px;
  display: inline-block;
  width: 100%;
  height: 100%;

  // http://www.mademyday.de/css-height-equals-width-with-pure-css.html
  &::before {
    content: '';
    display: block;
    padding-top: 130%;
  }

  .flip { @include transform(rotateY(180deg)); }
}
.flipper {
  @include transition(1.0s);
  @include transform-style(preserve-3d);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .front {
    z-index: 2;
    @include transform(rotateY(0deg));
  }
  .back {
    @include transform(rotateY(180deg));
  }
}


.card {
  & > * { user-select: none; }
  $border-radius: 5px;

  display: inline-block;
  width: 100%;
  height: 100%;

  border-radius: $border-radius;
  @include box-shadow(1px 1px 3px 1px rgba(0,0,0,0.2));

  .album-art {
    width: 100%;

    img {
      cursor: pointer;
      width: inherit;
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  .album-desc {
    padding: $small-padding $large-padding;

    p {
      @include card-text();
      @include text-ellipsis();
    }
    .title {
      margin-bottom: 4px;
      font-weight: 600;
    }
    .year {
      margin-bottom: 10px;
      font-size: 0.8em;
      color: $primary-color;
    }
    .artist { font-size: 0.9em; }
  }


  $profile-size: 45px;
  .album-info {
    height: $profile-size + $small-padding * 2;
    padding: $small-padding;

    & > * { float: left; }
    .profile {
      margin-right: 8px;
      width: $profile-size;
      height: $profile-size;

      img {
        cursor: pointer;
        height: 100%;
        border-radius: 50%;
      }
    }
    .album-summary {
      padding-top: 4px;

      p {
        @include card-text(0.9em);
        @include text-ellipsis();
      }
      .title {
        font-weight: 600;
        margin-bottom: 2px;
      }
    }
  }

  .tracks {
    height: calc(100% - (#{$profile-size} + #{$small-padding} * 2));

    margin: 0;
    padding: 0 $large-padding $small-padding;
    list-style: none;
    overflow-y: auto;

    li {
      height: 20px;
      cursor: pointer;
      @include text-ellipsis();
      &:hover .music-title { font-weight: 600; }

      & > * { display: inline-block }
      .track-number {
        width: 16px;
        margin-right: 4px;
        text-align: center;
        font-size: 0.8em;
        color: $primary-color;
      }
      .music-title {
        font-size: 1.0em;
        color: $bold-color;
      }
    }
  }

}
