@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    /*height: 1300px;*/ /*@@*/
}

/* ---------- HEADER ---------- */
header {
    width: 100%;
    height: 77px;
    position: fixed;
    z-index: 5;
    border-bottom: 1px solid #ccc;
    background: rgba(250,250,250,0.8);
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
header .header-holder {
    width: 100%;
    position: relative;
}
.audio-icon {
    color: #818181;
    cursor: pointer;
}
.audio-icon:hover {
    color: #484848;
}
.fa-spinner, .fa-frown-o {
    cursor: default;
}
.fa-spinner:hover, .fa-frown-o:hover{
    color: #818181;
}

/* ---------- HEADER-BAR ---------- */
header .header-bar {
    width: 100%;
    height: 4px;
    position: absolute;
    margin-top: 73px;
    cursor: pointer;
}
.header-bar .bar-gauge {
    width: 0%;
    height: inherit;
    position: inherit;
    /*background: #F15DAD;*/
    /*background: #F588BF;*/
    background: #DA1C31;
    /*box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);*/
}
.header-bar .bar-background {
    width: 100%;
    height: inherit;
    position: inherit;
    background: rgba(137,135,140,0.1);
    /*background: rgba(241,93,173,0.2);*/
}
.bar-background div {
    width: 45px;
    margin-top: -17px;
    float: left;
}
.bar-background div:first-child {
    margin-left: 3px;
    text-align: left;
}
.bar-background div:last-child {
    margin-left: calc(100% - 96px); /* (45px + 3px) * 2 */
    text-align: right;
}
.bar-background div span {
    color: #484848;
    font-size: 0.9em;
}

/* ---------- HEADER-PLAY ---------- */
.header-play {
    float: left;
    width: 12%;
    margin-left: 30px;
}
.play-container {
    width: 55px;
    padding-top: 20px;
    float: left;
    position: relative;
    text-align: center;
}
.play-container i {
    font-size: 2.5em;
}

/* ---------- HEADER-VOLUME ---------- */
.header-volume {
    width: 13%;
    padding-top: 26px;
    float: left;
}
.header-volume .volume-bar {
    width: 80px;
    height: 2px;
    margin: 10px 0px 0px 30px;
    float: left;
    background: #B9B9B9;
    cursor: pointer;
}
.header-volume #mute-container {
    margin-left: -105px;
    float: left;
}
.header-volume #mute-container i {
    font-size: 1.5em;
}
.header-volume #volume-container {
    margin: 2px 0px 0px -7px;
    float: left;
}
.header-volume #volume-container i {
    font-size: 1.2em;
}

/* ---------- HEADER-INFO ---------- */
.header-info {
    width: 40%;
    height: 63px;
    margin-top: 5px;
    float: left;
}
.header-info #thumbnail {
    width: 63px;
    height: 63px;
    float: left;
    display: none;
}
.header-info p {
    width: calc(100% - 67px);
    margin: 0px 3px 0px 67px;
    text-align: center;
    cursor: default;
}
.header-info #title {
    margin-top: 10px;
    font-size: 1.2em;
}
.header-info #album {
    font-size: 0.9em;
    /*@@*/
    overflow: hidden;
    white-space: nowrap;
}
/*
.header-info .slide-left {
    width: 370px;
    overflow: hidden;
    white-space: nowrap;
}
.header-info .slide-left p {
    animation: slide-left 8s;
    animation-iteration-count: infinite;
}
@keyframes slide-left {
    from {
        margin-left: 0%;
    } to {
        margin-left: -50%;
    }
}
*/

/* ---------- HEADER-SEARSCH ---------- */
.header-search {
    width: calc(35% - 60px);
    height: auto;
    float: left;
    margin-top: 27px;
    margin-right: 30px;
}
.header-search .search-container {
    float: right;
}
.search-container input {
    font-size: 0.9em;
}
