@CHARSET "UTF-8";

/* ---------- MAIN ---------- */
main {
    width: 100%;
    /* height of header */
    padding: 20px;
    padding-top: 97px;

    /*padding: 30px;
    padding-top: 107px;*/
}
main .no-pointer {
    cursor: default;
}
main .music-title {
    cursor: pointer;
    user-select: none;
}


/*
.container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}
.container div {
    width: 14.28571428571429%;
    background: #eee;
}
.container div:first-child {
    background: #eb4a24;
}
.container div:nth-child(3) {
    background: #1488c8;
}
.container div:nth-child(5) {
    background: #333;
}
.container div:last-child {
    background: #f7e041;
}
*/

