@CHARSET "UTF-8";

/* ---------- MAIN ---------- */
#main {
	padding-top: 88px; /* #header: height */
}

.container {
	width: 100%;
	padding: 20px 20px 0px 20px;
}
.container img {
	width: 200px;
	height: 200px;
	margin: 0px 20px 20px 0px;
	
	float: left;
}

