@charset "UTF-8";

@import './variables.scss';

@mixin flex-vertical-align() {
  display: flex;
  align-items: center;
}

@mixin text-ellipsis($max-width: 100%) {
  width: $max-width;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin card-style() {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: $card-border-radius;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

@mixin custom-scroll() {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #E5E5E5;
    border: 2px solid transparent;
    border-radius: 5px;
  }
}
