@charset "UTF-8";

@import './variables.scss';

@mixin flex-vertical-align() {
  display: flex;
  align-items: center;
}

@mixin text-ellipsis($max-width: 100%) {
  width: $max-width;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin card-style() {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: $card-border-radius;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}
