<!DOCTYPE html>
<html ng-app="printemps">
<head>
	<meta charset="UTF-8">
	<mata name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
	<title>Printemps</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/main.css">
	<!--<link rel="stylesheet" href="/css/lisa.css">-->
</head>
<body ng-controller="volumeController" ng-mouseup="mUpVolume($event)" ng-mousemove="mMoveVolume($event)">
	<header id="header">
		<div class="header-bar" ng-controller="barController">
			<div>
				<span id="">{{current}}</span>
			</div>
			<div>
				<span id="">{{duration}}</span>
			</div>
		</div>
		<div class="header-holder">
			<div class="header-play" ng-controller="playController">
				<div class="play-container">
					<i class="audio-icon fa fa-backward fa-2x"></i>
				</div>
				<div class="play-container">
					<i class="audio-icon fa fa-{{status}} fa-2x" ng-click="play()"></i>
				</div>
				<div class="play-container">
					<i class="audio-icon fa fa-forward fa-2x"></i>
				</div>
			</div>
			
			<div class="header-volume">
				<span class="volume-bar" ng-click="clickVolumeBar($event)"></span>
				<div id="mute-container">
					<i class="audio-icon fa fa-volume-{{scale}} fa-2x" ng-click="mute()"></i>
				</div>
				<div id="volume-container">
					<i class="audio-icon fa fa-circle fa-2x" ng-mousedown="mDownVolume($event)"></i>
				</div>
			</div>
			
			<div class="header-info">
				<!--<img id="thumbnail" class="img-thumbnail" src="" alt="">-->
				<img id="thumbnail" class="" src="">
				
				<p id="title"></p>
				<p id="album"></p>
				<!--<div class="slide-left">
					<p id="album"></p>
				 </div>-->
			</div>
			
			
			
		</div>
	</header>
	<div id="main">
		<div class="container">
			<img class="img-rounded" src="http://placehold.it/200x200">
			<img class="img-rounded" src="http://placehold.it/200x200">
			<img class="img-rounded" src="http://placehold.it/200x200">
			<img class="img-rounded" src="http://placehold.it/200x200">
			<img class="img-rounded" src="http://placehold.it/200x200">
			
		</div>
		
	</div>
	
	
	<!-- JAVASCRIPT -->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="js/3rd-party/binary.min.js"></script>
	<script src="js/3rd-party/jsmediatags.min.js"></script>
	
	<script src="js/binaryClient.js"></script>
	<script src="js/play.js"></script>
	<script src="js/volume.js"></script>
	<script src="js/header-bar.js"></script>
	
</body>
</html>
