<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <mata name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>Printemps</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
  <link rel="stylesheet" href="/css/header.min.css">
  <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>

<div id="app" @mousemove="mMoveVolume($event)" @mouseup="mUpVolume($event)">
  <header>
    <div id="header-bar" ref="guageBar" @click="move($event)">
      <div class="bar-background">
        <div class="play-time">{{ current }}</div>
        <div class="play-time">{{ remain }}</div>
      </div>
      <div class="bar-gauge" :style="{ width: timeGauge+'%' }"></div>
    </div>

    <div id="header-holder">
      <div id="header-play">
        <div class="play-container">
          <i class="backward large icon" @click="playPrevious()"></i>
        </div>
        <div class="play-container">
          <i class="large icon" :class="playStatus" @click="playOrPause()"></i>
        </div>
        <div class="play-container">
          <i class="forward large icon" @click="playNext()"></i>
        </div>
      </div>

      <div id="header-volume">
        <div id="mute-container">
          <i class="volume icon" :class="volumeScale" @click="mute()"></i>
        </div>
        <span class="volume-bar" ref="volumeBar" @click="clickVolumeBar($event)"></span>
        <div id="volume-container" :style="{ marginLeft: circlePos+'px' }">
          <i class="circle icon" ref="circle" @mousedown.stop="mDownVolume($event)"></i>
        </div>
      </div>

      <div id="header-info">
        <img id="thumbnail" v-if="albumArt.length !== 0" :src="albumArt">
        <div id="title">{{ title }}</div>
        <div v-if="title.length !== 0">
          <i class="hashtag icon"></i>{{ artist }}
          <i class="hashtag icon"></i>{{ album }}
        </div>
      </div>

      <div id="header-search">
        <div class="search-container ui transparent icon input">
          <input type="text" placeholder="Search">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="card-container" v-for="(_a, ai) in albums">
      <div class="flipper" :class="{ flip: _a.isFlipped }">

        <div class="card front">
          <div class="album-art" @click="flipOver(_a, ai)">
            <img :src="_a.image">
          </div>
          <div class="album-desc">
            <p class="title">{{ _a.title }}</p>
            <p class="year">{{ _a.year }}</p>
            <p class="artist">{{ _a.artist }}</p>
          </div>
        </div>

        <div class="card back">
          <div class="album-info">
            <div class="profile" @click="flipBack(_a)">
              <img :src="_a.image">
            </div>
            <div class="album-summary">
              <p class="title">{{ _a.title }}</p>
              <p class="artist">{{ _a.artist }}</p>
            </div>
          </div>
          <ul class="tracks">
            <li v-for="(_m, mi) in _a.musics" @dblclick="reqAndSetMusic(_a, _m, mi)">
              <div class="track-number">{{ _m.track }}</div>{{ _m.title }}
            </li>
          </ul>
        </div>

      </div>
    </div>
  </main>
</div>


  <!-- JAVASCRIPT -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/lib/binary.min.js"></script>

  <script src="js/util.js"></script>
  <script src="js/binaryClient.js"></script>

  <script src="js/play.js"></script>
  <script src="js/volume.js"></script>
  <script src="js/album.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
